@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgb(7, 57, 64) 0%, black 40%), #000;
  @apply text-white min-h-dvh;
}
